@keyframes moverNubes {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-nubes {
  animation: moverNubes 150s linear infinite;
  height: 100%;
  max-width: fit-content;
}
div {
  height: 100%;
}

/* @media (max-width: 1440px) {
  .animate-nubes {
    height: 210svh;
  }
  div {
    height: 210svh;
  }
}
@media (max-width: 768px) {
  .animate-nubes {
    animation-duration: 200s;
    height: 315svh;
  }
  div {
    height: 315svh;
  }
} */
