body {
  background: #87ceeb url("/public/images/descarga.svg") repeat-x;
  background-size: auto 200px; /* Altura de la franja de nubes */
  background-position: top;
  background-attachment: fixed;
  animation: moveClouds 60s linear infinite;
  min-height: 100vh;
}

@keyframes moveClouds {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 1000px;
  }
}
