h2 {
  text-align: center;
  text-shadow: 0 17px 20px rgb(28 50 81);
}
.sombra-exp {
  text-shadow: -6px 6px 0 #1d1d1b, -1px -1px 0 #1d1d1b, 1px -1px 0 #1d1d1b,
    -1px 1px 0 #1d1d1b, 1px 1px 0 #1d1d1b;
}
.sombra-box-exp {
  box-shadow: -4px 4px #1d1d1b;
}
/* .fondo {
  background: url("/images/fondoSuelo.svg") no-repeat bottom center, #81e1ff;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
} */
