@keyframes aparecer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    top: 0;
  }
  51% {
    opacity: 0;
    top: 100;
  }
  100% {
    opacity: 1;
  }
}

.card {
  position: absolute;

  transform: translateY(-50%);
  opacity: 1;
  animation: aparecer 0.8s ease-out forwards;
}

/* Posiciones individuales */
.card-fj {
  left: 0%;
  top: 200px;
  transform: translateX(-50%) translateY(-50%);
}

.card-informula {
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.card-gesclub {
  left: 100%;
  transform: translateX(-50%) translateY(-50%);
}
