<div class="w-full h-auto -z-0 relative py-1 fondo">
  <!-- --- -->
  <div class="relative z-10 text-center">
    <h2 class="text-[16vw] md:text-8xl font-bold sombra-exp text-claro">
      Proyectos
    </h2>
  </div>
  <!-- --- -->
  @for (proyecto of proyectos; track proyecto) {
  <div
    class="w-[90vw] max-w-[1500px] gap-8 m-auto my-10 text-oscuro sombra-box-exp bg-claro border-3 border-oscuro"
  >
    <app-proyectos-info
      [proyecto]="proyecto"
      class="flex flex-col-reverse gap-3 md:flex-row justify-between"
    />
  </div>
  }
</div>
