<header
  class="relative h-screen w-full bg-[#81e1ff] flex flex-col items-center justify-center text-center -z-0"
>
  <!-- Nubes -->
  <app-header-nubes />

  <!-- Texto -->
  <img src="images/afg.svg" alt="logo-header" class="w-60" />
  <h1 class="text-6xl font-bold">Adrián Ferradás Gutiérrez</h1>

  <h3
    class="text-4xl font-bold text-[radial-gradient(circle_at_top,_#eacb46,_#ffb74c)]"
  >
    Desarrollador Web
  </h3>
</header>
<!-- Degradado Azul-Amarrillo -->
<div class="bg-[#81e1ff]">
  <div class="bg-linear-to-t from-[#f1c448] to-transparent w-full relative">
    <img
      src="images/barraseparadora.svg"
      alt="separador"
      class="w-[100%] h-10 object-cover"
    />
  </div>
</div>
