@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
    filter: blur(6px);
  }
  0.1% {
    opacity: 0;
    transform: translateY(-10px);
    filter: blur(6px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.animate-fade-down {
  animation: fadeDown 1.6s ease-out forwards;
}
header {
  background: url("../../../../public/images/fondoEspacio.svg") no-repeat center
      center,
    linear-gradient(to bottom, black 0%, #0f1b1e 15%, #2f555b 70%, #4c8695 100%);
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
