h3 {
  font-size: clamp(1rem, 3vw, 2rem);
}

/* General */
.card {
  position: absolute;
  width: 25vw;
  height: 20vw;
  max-width: 450px;
  max-height: 280px;
  background-color: rgb(117, 218, 248);
  border-radius: 0.75rem;
  overflow: hidden;
  top: 20px;
  transform: translateX(-50%);
  animation: aparecer 0.5s;
}

/* Contenido general*/
.card-content {
  opacity: 0;
  display: none;
}

/* Posiciones */
.card-fj {
  left: 0%;
  transform: translateX(-50%);
}
.card-informula {
  left: 50%;
  transform: translateX(-50%);
}
.card-gesclub {
  left: 100%;
  transform: translateX(-50%);
}

/* General Activo con animacion*/
.activo.card {
  width: 90vw;
  height: auto;
  left: 50%;
  max-width: 90vw;
  max-height: 2040px;
  top: 330px;
  z-index: 2;
  transition: all 0.5s ease, top 0.5s ease, left 0.5s ease;
}

/* Contenido y logotitulo activado */
.activo .card-content {
  display: flex;
  opacity: 1;
}
.activo > .logotitulo img {
  width: auto;
  height: 70px;
}
.activo > .logotitulo {
  flex-direction: column;
  gap: 10px;
}
.activo > .logotitulo div {
  flex: 1;
}

/* Tamaño de logo */
.logotitulo div img {
  width: 20vw;
}

/* Animacion quitar activo */
/* .card:not(.activo) .card-content,
.card:not(.activo) {
  animation: aparecer 0.5s;
  transform: translateX(-50%);
} */

/* Sombra hover */
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .activo > .logotitulo {
    flex-direction: row;
    flex-direction: row-reverse;
  }
}

/* cosas nuevas 






a


*/

.salir > .logotitulo img {
  width: auto;
  height: 70px;
}

.salir > .logotitulo {
  flex-direction: column;
  gap: 10px;
}

.salir > .logotitulo div {
  flex: 1;
}

.salir.card {
  width: 90vw;
  height: auto;
  left: 50%;
  max-width: 90vw;
  max-height: 2040px;
  top: 330px;
  z-index: 1;

  animation: desaparecer 0.3s ease-in-out forwards;
}

.salir .card-content {
  display: flex;
  opacity: 1;
  /* animation: replegar 0.5s ease-in-out forwards; */
}

.salir > .logotitulo {
  /* animation: replegar 0.5s ease-in-out forwards; */
}

@keyframes aparecer {
  0% {
    opacity: 0;
    top: 20px;
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes desaparecer {
  0% {
    opacity: 1;
    top: 330px;
  }
  100% {
    opacity: 0;
    top: 330px;
  }
}

@media (min-width: 768px) {
  .salir > .logotitulo {
    flex-direction: row;
    flex-direction: row-reverse;
  }
}
