@keyframes moverNubes {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-nubes {
  animation: moverNubes 150s linear infinite;
  height: 130svh;
  max-width: fit-content;
}
div {
  height: 130svh;
}

@media (max-width: 1440px) {
  .animate-nubes {
    height: 170svh;
  }
  div {
    height: 170svh;
  }
}
@media (max-width: 767px) {
  .animate-nubes {
    animation-duration: 200s;
    height: 280svh;
  }
  div {
    height: 280svh;
  }
}
