<!-- Nubes -->
<div
  class="absolute top-0 left-0 w-full h-[110vh] overflow-hidden pointer-events-none -z-10"
>
  <img
    src="images/nube.png"
    alt="nube-fondo1"
    class="rotate-280 animate-nube absolute top-[-30%] w-140"
    style="animation-delay: -12s"
  />

  <img
    src="images/nube.png"
    alt="nube-fondo2"
    class="rotate-280 animate-nube absolute top-[3%] w-120"
    style="animation-delay: -4s"
  />

  <img
    src="images/nube.png"
    alt="nube-fondo3"
    class="rotate-280 animate-nube absolute bottom-[5%] w-120"
    style="animation-delay: -8s"
  />

  <img
    src="images/nube.png"
    alt="nube-fondo4"
    class="rotate-280 animate-nube absolute bottom-[-30%] w-200"
    style="animation-delay: -14s"
  />
</div>
