<!-- FJ -->
@if (proyecto == 'fj') {
<!-- Texto -->
<div class="flex-[1.5] h-full mx-2 min-h-[400px] flex flex-col justify-between">
  <div>
    <h3 class="text-center text-4xl text-claro font-bold">FJ</h3>
    <br />

    <p>
      Aplicación web interactiva desarrollada con
      <strong>Angular 17</strong>
      para mejorar la velocidad y precisión al escribir. Presenta una interfaz
      minimalista, intuitiva y enfocada en la enseñanza eficaz de la
      mecanografía.
    </p>
    <br />

    <p>Incluye:</p>
    <ul>
      <li>
        Línea de texto con retroalimentación en tiempo real para mejorar la
        escritura.
      </li>
      <li>
        Teclado virtual que resalta la tecla que debe pulsarse para guiar al
        usuario.
      </li>
      <li>
        Guía visual de manos que indica qué dedo utilizar para cada tecla,
        facilitando el aprendizaje.
      </li>
    </ul>
    <br />

    <p>Diseñada para aprender mecanografía de forma intuitiva y efectiva.</p>
    <br />
  </div>
  <div class="flex justify-between items-end">
    <div>
      <p>Tecnologías utilizadas:</p>
      <div class="flex gap-4 iconos">
        <img
          src="https://cdn.simpleicons.org/angular/DD0031"
          title="Angular 17"
          alt="Angular 17"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/css/1572B6"
          title="CSS"
          alt="CSS"
          width="30"
          height="30"
        />
      </div>
    </div>
    <div>
      <a
        href="https://github.com/Bululi22/FJ"
        target="_blank"
        class="bg-[#ffffff17] text-claro p-2 rounded-full shadow hover:scale-110 transition duration-300 inline-flex items-center justify-center"
        title="GitHub"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          width="40"
          height="40"
        >
          <path
            d="M12 0C5.37 0 0 5.37 0 12a12.01 12.01 0 008.21 11.41c.6.11.82-.26.82-.58v-2.16c-3.34.73-4.04-1.61-4.04-1.61-.55-1.41-1.35-1.79-1.35-1.79-1.1-.75.08-.74.08-.74 1.21.09 1.84 1.24 1.84 1.24 1.08 1.84 2.84 1.31 3.53 1 .11-.78.42-1.31.76-1.61-2.66-.3-5.47-1.34-5.47-5.96 0-1.31.47-2.38 1.24-3.23-.12-.3-.54-1.52.12-3.16 0 0 1-.32 3.3 1.23a11.5 11.5 0 016 0c2.3-1.55 3.3-1.23 3.3-1.23.66 1.64.24 2.86.12 3.16.77.85 1.24 1.92 1.24 3.23 0 4.63-2.81 5.66-5.49 5.96.43.38.81 1.12.81 2.25v3.34c0 .32.21.7.83.58A12.01 12.01 0 0024 12c0-6.63-5.37-12-12-12z"
          />
        </svg>
      </a>
    </div>
  </div>
</div>

<!-- Imagen app -->
<div class="flex-1 flex flex-col items-center gap-4">
  <img
    src="images/proyectos/fj-logo.svg"
    alt="fj-logo"
    class="w-auto m-auto max-h-[75px] h-auto object-contain"
  />
  <div
    class="relative rounded-2xl border-[8px] border-black w-full max-w-md overflow-hidden group"
  >
    <img
      src="images/proyectos/fj-captura.png"
      alt="Captura app fj"
      class="w-full"
    />
  </div>
</div>

}
<!-- Informula -->
@if (proyecto == 'informula') {
<!-- Texto -->
<div class="flex-[1.5] h-full mx-2 min-h-[400px] flex flex-col justify-between">
  <div>
    <h3 class="text-center text-4xl text-claro font-bold">Informula</h3>
    <br />

    <p>
      Aplicación web desarrollada con <strong>Angular 19</strong> que muestra
      información actualizada sobre la temporada de Fórmula 1. Presenta una
      interfaz clara y funcional con los datos más relevantes, obtenidos desde
      una API externa (no oficial).
    </p>
    <br />

    <p>Incluye:</p>
    <ul>
      <li>Contador regresivo en tiempo real para la próxima carrera.</li>
      <li>Clasificación actual de pilotos y equipos.</li>
      <li>
        Diseño moderno con <strong>Tailwind CSS</strong> y
        <strong>DaisyUI</strong>.
      </li>
    </ul>
  </div>
  <div class="flex justify-between items-end">
    <div>
      <p>Tecnologías utilizadas:</p>
      <div class="flex gap-4 iconos mt-2">
        <img
          src="https://cdn.simpleicons.org/angular/DD0031"
          title="Angular 19"
          alt="Angular 19"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/tailwindcss/06B6D4"
          title="Tailwind CSS / DaisyUI"
          alt="Tailwind CSS / DaisyUI"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/css/1572B6"
          title="CSS"
          alt="CSS"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/typescript/3178C6"
          title="TypeScript"
          alt="TypeScript"
          width="30"
          height="30"
        />
      </div>
    </div>
    <div>
      <a
        href="https://github.com/Bululi22/InFormula"
        target="_blank"
        class="bg-[#ffffff17] text-claro p-2 rounded-full shadow hover:scale-110 transition duration-300 inline-flex items-center justify-center"
        title="GitHub"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          width="40"
          height="40"
        >
          <path
            d="M12 0C5.37 0 0 5.37 0 12a12.01 12.01 0 008.21 11.41c.6.11.82-.26.82-.58v-2.16c-3.34.73-4.04-1.61-4.04-1.61-.55-1.41-1.35-1.79-1.35-1.79-1.1-.75.08-.74.08-.74 1.21.09 1.84 1.24 1.84 1.24 1.08 1.84 2.84 1.31 3.53 1 .11-.78.42-1.31.76-1.61-2.66-.3-5.47-1.34-5.47-5.96 0-1.31.47-2.38 1.24-3.23-.12-.3-.54-1.52.12-3.16 0 0 1-.32 3.3 1.23a11.5 11.5 0 016 0c2.3-1.55 3.3-1.23 3.3-1.23.66 1.64.24 2.86.12 3.16.77.85 1.24 1.92 1.24 3.23 0 4.63-2.81 5.66-5.49 5.96.43.38.81 1.12.81 2.25v3.34c0 .32.21.7.83.58A12.01 12.01 0 0024 12c0-6.63-5.37-12-12-12z"
          />
        </svg>
      </a>
    </div>
  </div>
</div>

<!-- Imagen app -->
<div class="flex-1 flex flex-col items-center gap-4">
  <img
    src="images/proyectos/informula-logo.svg"
    alt="informula-logo"
    class="w-auto m-auto max-h-[75px] h-auto object-contain"
  />
  <div
    class="relative rounded-2xl border-[8px] border-black w-full max-w-md overflow-hidden group"
  >
    <img
      src="images/proyectos/informula-captura.png"
      alt="Captura app informula"
      class="w-full"
    />
  </div>
</div>

}

<!-- Gesclub -->
@if (proyecto == 'gesclub') {
<!-- Texto -->
<div class="flex-[1.5] h-full mx-2 min-h-[400px] flex flex-col justify-between">
  <div>
    <h3 class="text-center text-4xl text-claro font-bold">Gesclub</h3>
    <br />

    <p>
      Aplicación web desarrollada con <strong>Angular 19</strong> que facilita
      la gestión de socios en un club deportivo. Presenta una interfaz intuitiva
      y eficiente que permite añadir, eliminar y modificar.
    </p>
    <br />

    <p>Incluye:</p>
    <ul>
      <li>Gestión completa de socios con perfiles personalizados.</li>
      <li>
        Calendario de eventos y actividades con notificaciones automáticas.
      </li>
      <li>
        Diseño moderno con <strong>Tailwind CSS</strong> y
        <strong>DaisyUI</strong>.
      </li>
    </ul>
  </div>
  <div class="flex justify-between items-end">
    <div>
      <p>Tecnologías utilizadas:</p>
      <div class="flex gap-4 iconos">
        <img
          src="https://cdn.simpleicons.org/angular/DD0031"
          title="Angular 19"
          alt="Angular 19"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/mongodb/47A248"
          title="MongoDB"
          alt="MongoDB"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/tailwindcss/06B6D4"
          title="Tailwind CSS / DaisyUI"
          alt="Tailwind CSS / DaisyUI"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/typescript/3178C6"
          title="TypeScript"
          alt="TypeScript"
          width="30"
          height="30"
        />
      </div>
    </div>
    <div>
      <a
        href="https://github.com/Bululi22/FJ"
        target="_blank"
        class="bg-[#ffffff17] text-claro p-2 rounded-full shadow hover:scale-110 transition duration-300 inline-flex items-center justify-center"
        title="GitHub"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 24 24"
          width="40"
          height="40"
        >
          <path
            d="M12 0C5.37 0 0 5.37 0 12a12.01 12.01 0 008.21 11.41c.6.11.82-.26.82-.58v-2.16c-3.34.73-4.04-1.61-4.04-1.61-.55-1.41-1.35-1.79-1.35-1.79-1.1-.75.08-.74.08-.74 1.21.09 1.84 1.24 1.84 1.24 1.08 1.84 2.84 1.31 3.53 1 .11-.78.42-1.31.76-1.61-2.66-.3-5.47-1.34-5.47-5.96 0-1.31.47-2.38 1.24-3.23-.12-.3-.54-1.52.12-3.16 0 0 1-.32 3.3 1.23a11.5 11.5 0 016 0c2.3-1.55 3.3-1.23 3.3-1.23.66 1.64.24 2.86.12 3.16.77.85 1.24 1.92 1.24 3.23 0 4.63-2.81 5.66-5.49 5.96.43.38.81 1.12.81 2.25v3.34c0 .32.21.7.83.58A12.01 12.01 0 0024 12c0-6.63-5.37-12-12-12z"
          />
        </svg>
      </a>
    </div>
  </div>
</div>

<!-- Imagen app -->
<div class="flex-1 flex flex-col items-center gap-4">
  <img
    src="images/proyectos/gesclub-logo.svg"
    alt="gesclub-logo"
    class="w-auto m-auto max-h-[75px] h-auto object-contain"
  />
  <div
    class="relative rounded-2xl border-[8px] border-black w-full max-w-md overflow-hidden group"
  >
    <!-- Imagen con efecto blur al hacer hover -->
    <img
      src="images/proyectos/gesclub-captura.png"
      alt="Captura app gesclub"
      class="w-full"
    />
  </div>
</div>
}
