<!-- FJ -->
@if (proyecto == 'fj') {
<!-- Texto -->
<div class="flex-[1.5] mx-2 flex flex-col justify-between p-5">
  <div class="text-lg">
    <h3 class="text-center text-4xl font-bold">FJ</h3>
    <br />

    <p>
      Aplicación web interactiva desarrollada con
      <strong>Angular 17</strong>
      para mejorar la velocidad y precisión al escribir. Presenta una interfaz
      minimalista, intuitiva y enfocada en la enseñanza eficaz de la
      mecanografía.
    </p>

    <br />

    <p>Incluye:</p>
    <ul class="list-disc pl-5">
      <li>
        Línea de texto con retroalimentación en tiempo real para mejorar la
        escritura.
      </li>
      <li>
        Teclado virtual que resalta la tecla que debe pulsarse para guiar al
        usuario.
      </li>
      <li>
        Guía visual de manos que indica qué dedo utilizar para cada tecla,
        facilitando el aprendizaje.
      </li>
    </ul>
    <br />

    <p>Diseñada para aprender mecanografía de forma intuitiva y efectiva.</p>
    <br />
  </div>
  <div class="flex justify-between items-end">
    <div>
      <p class="text-xl"><b>Tecnologías utilizadas:</b></p>
      <div class="flex gap-4 iconos">
        <img
          src="https://cdn.simpleicons.org/angular/DD0031"
          title="Angular 17"
          alt="Angular 17"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/css/1572B6"
          title="CSS"
          alt="CSS"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/typescript/3178C6"
          title="TypeScript"
          alt="TypeScript"
          width="30"
          height="30"
        />
      </div>
    </div>
    <div>
      <!-- Botón GitHub -->
      <a
        href="https://github.com/Bululi22/FJ"
        target="_blank"
        aria-label="GitHub Repositorio FJ"
        class="group inline-flex items-center justify-center w-12 h-12 rounded-full bg-oscuro hover:bg-carta transition duration-300 hover:scale-110"
      >
        <svg
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6 text-claro group-hover:text-oscuro transition-colors duration-300"
        >
          <path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.387.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.757-1.333-1.757-1.089-.745.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.775.418-1.305.76-1.605-2.665-.3-5.466-1.335-5.466-5.93 0-1.31.47-2.38 1.236-3.22-.123-.303-.535-1.523.117-3.176 0 0 1.008-.322 3.301 1.23a11.5 11.5 0 0 1 3.003-.404c1.02.005 2.045.138 3.003.404 2.291-1.553 3.297-1.23 3.297-1.23.653 1.653.241 2.873.118 3.176.77.84 1.234 1.91 1.234 3.22 0 4.61-2.807 5.625-5.479 5.921.43.371.823 1.102.823 2.222 0 1.604-.015 2.896-.015 3.293 0 .321.216.694.825.576C20.565 22.092 24 17.592 24 12.297 24 5.67 18.627.297 12 .297z"
          />
        </svg>
        <span
          class="absolute -top-13 mr-1 scale-0 group-hover:scale-100 origin-bottom bg-oscuro text-claro text-sm px-3 py-1 rounded-lg transition-transform duration-100 text-center"
        >
          Repositorio FJ
        </span>
      </a>
    </div>
  </div>
</div>

<!-- Separador -->
<div class="border-b-3 sm:border-l-3 sm:border-b-3 border-oscuro"></div>

<!-- Imagen app -->
<div class="flex-1 content-center p-5 bg-carta">
  <img
    src="images/proyectos/fj-logo.svg"
    alt="fj-logo"
    class="w-auto m-auto max-h-[75px] h-auto object-contain mb-5"
  />
  <div
    class="relative rounded-2xl border-[8px] border-black w-full max-w-md m-auto overflow-hidden"
  >
    <img
      src="images/proyectos/fj-captura.webp"
      alt="Captura app fj"
      class="w-full"
    />
  </div>
</div>

}
<!-- Informula -->
@if (proyecto == 'informula') {
<!-- Texto -->
<div class="flex-[1.5] mx-2 flex flex-col justify-between p-5">
  <div class="text-lg">
    <h3 class="text-center text-4xl font-bold">Informula</h3>
    <br />

    <p>
      Aplicación web desarrollada con <strong>Angular 19</strong> que muestra
      información actualizada sobre la temporada de Fórmula 1. Presenta una
      interfaz clara y funcional con los datos más relevantes, obtenidos desde
      una API externa (no oficial).
    </p>
    <br />

    <p>Incluye:</p>
    <ul class="list-disc pl-5">
      <li>Contador regresivo en tiempo real para la próxima carrera.</li>
      <li>Clasificación actual de pilotos y equipos.</li>
      <li>
        Diseño moderno con <strong>Tailwind CSS</strong> y
        <strong>DaisyUI</strong>.
      </li>
    </ul>
    <br />
  </div>
  <div class="flex justify-between items-end">
    <div>
      <p class="text-xl"><b>Tecnologías utilizadas:</b></p>
      <div class="flex gap-4 iconos">
        <img
          src="https://cdn.simpleicons.org/angular/DD0031"
          title="Angular 19"
          alt="Angular 19"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/tailwindcss/06B6D4"
          title="Tailwind CSS / DaisyUI"
          alt="Tailwind CSS / DaisyUI"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/css/1572B6"
          title="CSS"
          alt="CSS"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/typescript/3178C6"
          title="TypeScript"
          alt="TypeScript"
          width="30"
          height="30"
        />
      </div>
    </div>
    <div>
      <!-- Botón GitHub -->
      <a
        href="https://github.com/Bululi22/InFormula"
        target="_blank"
        aria-label="GitHub Repositorio InFormula"
        class="group inline-flex items-center justify-center w-12 h-12 rounded-full bg-oscuro hover:bg-carta transition duration-300 hover:scale-110"
        title="GitHub Repositorio InFormula"
      >
        <svg
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6 text-claro group-hover:text-oscuro transition-colors duration-300"
        >
          <path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.387.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.757-1.333-1.757-1.089-.745.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.775.418-1.305.76-1.605-2.665-.3-5.466-1.335-5.466-5.93 0-1.31.47-2.38 1.236-3.22-.123-.303-.535-1.523.117-3.176 0 0 1.008-.322 3.301 1.23a11.5 11.5 0 0 1 3.003-.404c1.02.005 2.045.138 3.003.404 2.291-1.553 3.297-1.23 3.297-1.23.653 1.653.241 2.873.118 3.176.77.84 1.234 1.91 1.234 3.22 0 4.61-2.807 5.625-5.479 5.921.43.371.823 1.102.823 2.222 0 1.604-.015 2.896-.015 3.293 0 .321.216.694.825.576C20.565 22.092 24 17.592 24 12.297 24 5.67 18.627.297 12 .297z"
          />
        </svg>
        <span
          class="absolute -top-13 mr-1 scale-0 group-hover:scale-100 origin-bottom bg-oscuro text-claro text-sm px-3 py-1 rounded-lg transition-transform duration-100 text-center"
        >
          Repositorio InFormula
        </span>
      </a>
    </div>
  </div>
</div>

<!-- Separador -->
<div class="border-b-3 sm:border-l-3 sm:border-b-3 border-oscuro"></div>

<!-- Imagen app -->
<div class="flex-1 content-center p-5 bg-carta">
  <img
    src="images/proyectos/informula-logo.svg"
    alt="informula-logo"
    class="w-auto m-auto max-h-[75px] h-auto object-contain mb-5"
  />
  <div
    class="relative rounded-2xl border-[8px] border-black w-full max-w-md m-auto overflow-hidden"
  >
    <img
      src="images/proyectos/informula-captura.webp"
      alt="Captura app informula"
      class="w-full"
    />
  </div>
</div>

}

<!-- Gesclub -->
@if (proyecto == 'gesclub') {
<!-- Texto -->
<div class="flex-[1.5] mx-2 flex flex-col justify-between p-5">
  <div class="text-lg">
    <h3 class="text-center text-4xl font-bold">Gesclub</h3>
    <br />

    <p>
      Aplicación web desarrollada con <strong>Angular 19</strong> que facilita
      la gestión de socios en un club deportivo. Presenta una interfaz intuitiva
      y eficiente que permite añadir, eliminar y modificar.
    </p>
    <br />

    <p>Incluye:</p>
    <ul class="list-disc pl-5">
      <li>Gestión completa de socios con perfiles personalizados.</li>
      <li>
        Calendario de eventos y actividades con notificaciones automáticas.
      </li>
      <li>
        Diseño moderno con <strong>Tailwind CSS</strong> y
        <strong>DaisyUI</strong>.
      </li>
    </ul>
    <br />
  </div>
  <div class="flex justify-between items-end">
    <div>
      <p class="text-xl"><b>Tecnologías utilizadas:</b></p>
      <div class="flex gap-4 iconos">
        <img
          src="https://cdn.simpleicons.org/angular/DD0031"
          title="Angular 19"
          alt="Angular 19"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/mongodb/47A248"
          title="MongoDB"
          alt="MongoDB"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/tailwindcss/06B6D4"
          title="Tailwind CSS / DaisyUI"
          alt="Tailwind CSS / DaisyUI"
          width="30"
          height="30"
        />
        <img
          src="https://cdn.simpleicons.org/typescript/3178C6"
          title="TypeScript"
          alt="TypeScript"
          width="30"
          height="30"
        />
      </div>
    </div>
    <div>
      <!-- Botón GitHub -->
      <a
        href="https://github.com/Bululi22/Gesclub"
        target="_blank"
        aria-label="GitHub Repositorio Gesclub"
        class="group inline-flex items-center justify-center w-12 h-12 rounded-full bg-oscuro hover:bg-carta transition duration-300 hover:scale-110"
        title="GitHub Repositorio Gesclub"
      >
        <svg
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-6 h-6 text-claro group-hover:text-oscuro transition-colors duration-300"
        >
          <path
            d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.387.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.757-1.333-1.757-1.089-.745.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.775.418-1.305.76-1.605-2.665-.3-5.466-1.335-5.466-5.93 0-1.31.47-2.38 1.236-3.22-.123-.303-.535-1.523.117-3.176 0 0 1.008-.322 3.301 1.23a11.5 11.5 0 0 1 3.003-.404c1.02.005 2.045.138 3.003.404 2.291-1.553 3.297-1.23 3.297-1.23.653 1.653.241 2.873.118 3.176.77.84 1.234 1.91 1.234 3.22 0 4.61-2.807 5.625-5.479 5.921.43.371.823 1.102.823 2.222 0 1.604-.015 2.896-.015 3.293 0 .321.216.694.825.576C20.565 22.092 24 17.592 24 12.297 24 5.67 18.627.297 12 .297z"
          />
        </svg>
        <span
          class="absolute -top-13 mr-1 scale-0 group-hover:scale-100 origin-bottom bg-oscuro text-claro text-sm px-3 py-1 rounded-lg transition-transform duration-100 text-center"
        >
          Repositorio Gesclub
        </span>
      </a>
    </div>
  </div>
</div>

<!-- Separador -->
<div class="border-b-3 sm:border-l-3 sm:border-b-3 border-oscuro"></div>

<!-- Imagen app -->
<div class="flex-1 content-center p-5 bg-carta">
  <img
    src="images/proyectos/gesclub-logo.svg"
    alt="gesclub-logo"
    class="w-auto m-auto max-h-[75px] h-auto object-contain mb-5"
  />
  <div
    class="relative rounded-2xl border-[8px] border-black w-full max-w-md m-auto overflow-hidden"
  >
    <img
      src="images/proyectos/gesclub-captura.webp"
      alt="Captura app gesclub"
      class="w-full"
    />
  </div>
</div>
}
