@import "tailwindcss";

@theme {
  --color-claro: #ececec;
  --color-oscuro: #1d1d1b;
  --color-amarillo: #ecc846;
  --color-verde: #69ad87;
  --color-carta: #62b1b1;
  --color-azulOscuro: #0a1524;
  --color-azulClaro: #8bacd9;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk", sans-serif;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
}
